
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<style>

  html {
    font-size: 14px;
  }

  p, form, div, input {
    font-size: 14px;
  }

  .form-inline input {
    font-size: 14px;
  }

  body {
    border: 33px solid white;
  }

  .form-inline {
    align: left;
    border: 1px solid gray;
    padding: 10px;
  }

  #main_container {
    display: flex;
    width: 90%;
    height: 600px;
    flex-direction: row;
  }

  .organization {
    background-color: #c7deff;
  }

  .person {
    background-color: #f5e342;
  }

  .location {
    background-color: #cddb9a;
  }

  .activity_with_when {
    background-color: #f6c655;
  }

  .activity_not_happened {
    background-color: #ffe6ff;
  }

  .activity_has_happened {
    background-color: #b3ffff;
    }


</style>
