[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-neomodel = {ref = "forked_neomodel", git = "https://github.com/alanbuxton/django-neomodel.git"}
djangorestframework = "*"
django-bootstrap5 = "*"
gunicorn = "*"
pycountry = "*"
psycopg = "*" # Not required for neo4j app
django-allauth = "=0.58.2" # v0.59 doesn't load linkedin
cleanco = "*"
sib-api-v3-sdk = {git = "git+https://github.com/sendinblue/APIv3-python-library.git"}
redis = {extras = ["hiredis"], version = "*"}
sentence-transformers = "*"
drf-spectacular = "*"
django-cors-headers = "*"
django-magic-link = "*"

[dev-packages]

[requires]
python_version = "3.11"
