[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-neomodel = {ref = "forked_neomodel", git = "https://github.com/alanbuxton/django-neomodel.git"}
djangorestframework = "*"
django-bootstrap5 = "*"
gunicorn = "*"
pycountry = "*"

[dev-packages]

[requires]
python_version = "3.11"
