
{% load l10n %}
{% load topics_extras %}

<em>
<br/>
<p>
{% if request_state.document_sources %}
  Document sources: {{ request_state.document_sources.pretty_print_text }}
  {% if request_state.document_sources.has_core is False %}
    <a href="{% url_with_extra_querystring_param request_state.current_page_no_qs qs_args1=request_state.qs_params qs_arg2='sources' qs_val2='_core' %}">
      (Switch to Core Sources)
    </a>
  {% endif %}
  {% if request_state.document_sources.has_all is False %}
    <a href="{% url_with_extra_querystring_param request_state.current_page_no_qs qs_args1=request_state.qs_params qs_arg2='sources' qs_val2='_all' %}">
      (Switch to All Sources)
    </a> 
  {% endif %}
{% endif %}
</p>
<p>
  {% if request_state.earliest_doc_date %}
    Document dates:
    {% if request_state.earliest_doc_date.all_time_flag %}
      All Available 
    {% else %}
      Documents since {{ request_state.earliest_doc_date.min_date | localize }}
    {% endif %}
    {% if request_state.earliest_doc_date.one_year_ago_fmt %}
      <a href="{% url_with_extra_querystring_param request_state.current_page_no_qs qs_args1=request_state.qs_params qs_arg2='earliest_date' qs_val2=request_state.earliest_doc_date.one_year_ago_fmt %}">
        (Switch to 1 year ago)
      </a>
    {% endif %}
    {% if request_state.earliest_doc_date.three_years_ago_fmt %}
      <a href="{% url_with_extra_querystring_param request_state.current_page_no_qs qs_args1=request_state.qs_params qs_arg2='earliest_date' qs_val2=request_state.earliest_doc_date.three_years_ago_fmt %}">
        (Switch to 3 years ago)
      </a>
    {% endif %}
    {% if request_state.earliest_doc_date.five_years_ago_fmt %}
      <a href="{% url_with_extra_querystring_param request_state.current_page_no_qs qs_args1=request_state.qs_params qs_arg2='earliest_date' qs_val2=request_state.earliest_doc_date.five_years_ago_fmt %}">
        (Switch to 5 years ago)
      </a>
    {% endif %}
    {% if request_state.earliest_doc_date.all_time_flag is False %}
      <a href="{% url_with_extra_querystring_param request_state.current_page_no_qs qs_args1=request_state.qs_params qs_arg2='earliest_date' qs_val2=-1 %}">
        (Switch to all time)
      </a>
    {% endif %}
  {% endif %}
</p>
<p>
{% if request_state.name_only_current_state %}
  Treat sameAsNameOnly relationship as same? {{ request_state.name_only_current_state }}
    <a href="{{ request_state.name_only_toggle_url | safe }}">(Turn {{ request_state.name_only_toggle_name }})</a>  
{% endif %}
</p>
</em>
<p>
{% if request_state.cache_last_updated %}
  <a href="{% url 'tracked-activity-stats' %}">Site Stats</a>
{% else %}
  Site stats calculating, please check later
{% endif %}
| <a href="{% url 'about' %}">About (includes privacy and cookie notices)</a>
<br/> 
(c) by 1145, 2023-2024. Data licensed under the <a href="https://opendatacommons.org/licenses/odbl/1-0/">Open Database License</a>.
  Please <a href="mailto:info-syracuse@1145.am">send an email</a> if you need a non-share-alike license and/or you need API access.
</p>
