{% if user.is_authenticated %}
  {{ user.username }}, you're logged in, great stuff.
   <a href="{% url 'tracked-organizations' %}">Tracked Organizations</a>
|  <a href="{% url 'tracked-activities' %}">Recent Tracked Activities</a>
|  Treat sameAsNameOnly relationship as same? {{ request_state.name_only_current_state }}
   <a href="{{ request_state.name_only_toggle_url }}">Turn {{ request_state.name_only_toggle_name }}</a>
|  <a href="{% url 'account_logout' %}">Log out</a>.
{% else %}
  Treat sameAsNameOnly relationship as same? {{ request_state.name_only_current_state }}
   <a href="{{ request_state.name_only_toggle_url }}">(Turn {{ request_state.name_only_toggle_name }})</a>
|  <a href="{% url 'account_login' %}">Log in or Sign Up for full access</a>
{% endif %}
