<html>
<head>

{% include 'layouts/main-styling.html' %}
{% load l10n %}
{% load rest_framework %}
{% load topics_extras %}

<style>

.search_section {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}

#form_container {
  display: flex;
  width: 90%;
  flex-direction: row;
}

.wide_bar {
  width: 100%;
}

#left_panel {
  padding: 10px;
  flex: 0 0 50%;
}

#right_panel {
  padding: 10px;
  flex: 1;
}

.result_list {
  padding-left: 15%;
}

</style>
<title>Syracuse from 1145</title>
</head>
<body>

{% if request.user.is_authenticated %}
<p>
  {% include 'layouts/nav-header-no-homepage.html' %}
</p>
{% else %}
 <p>Feel free to browse this database anonymously.
  You can track companies and we will notify you when we
  spot a change to one of your tracked companies.
  If you want to track companies please <a href="{% url 'account_signup' %}">sign up for a free account</a> first.</p>
 <p>If you have an existing account, <a href="{% url 'account_login' %}">click here</a> to login.</a></p>
{% endif %}

<h1>Topic Identification: Syracuse from 1145</h1>

<h5>Welcome to Syracuse, your database of key events in company lifecycles.
Last updated {{ last_updated | localize }}</h5>
{{ motd | safe }}


<div class="search_section">
  <div class="wide_bar">
    <p><strong>Search for a specific organization to display</strong></p>
  </div>
  <div id="form_container">

    <div id="left_panel">
      <p>Search by organization name</p>
      <form class="narrow_form" action="{% url 'index' %}" method="GET" novalidate>
          {% render_form search_serializer template_pack='rest_framework/inline' %}
          <br/><input type="submit" value="Search">
      </form>
    </div>
    <div id="right_panel">
      <p>or, filter for companies by industry and/or country/region</p>
      <form class="narrow_form" action="{% url 'index' %}" method="GET" novalidate>
          {% render_form industry_search template_pack='rest_framework/inline' %}
          {% render_form geo_search template_pack='rest_framework/inline' %}
          <br/><input type="submit" value="Search">
      </form>
    </div>
  </div>
  {% if search_type == 'org_name' or search_type == 'combined_search' %}
    <div class="result_list">
      <p>Searched for &quot;{{ search_term | safe }}&quot;.
        {% if search_type == 'combined_search' %}
          {% include "track_industry_geo_snippet.html" %}
        {% endif %}
         Found {{ num_hits }}
        {% if num_hits > 20 %}
         organizations (Max 20 shown for web users):
        {% else %}
         organizations:
        {% endif %}
      </p>
    {% include "organization_list.html" %}
    </div>
    <em>This search will only find organizations that are tagged to the respective industry or location: not all organizations have this data available.</em>
  {% else %}

  <br/>
    <div class="search_section">
      <div class="result_list">
        Not sure where to start? Click one of these examples:</p>
        {% include "organization_list.html" %}
      </div>
    </div>
  {% endif %}
</div>

{% include 'layouts/footer.html' %}


</body>
</html>
