<html>
<head>

{% include 'layouts/main-styling.html' %}
{% load l10n %}
{% load rest_framework %}
{% load topics_extras %}

<style>

.search_section {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}

#form_container {
  display: flex;
  width: 90%;
  flex-direction: row;
}

.wide_bar {
  width: 100%;
}

#left_panel {
  padding: 10px;
  flex: 0 0 50%;
}

#right_panel {
  padding: 10px;
  flex: 1;
}

.result_list {
  padding-left: 5%;
  padding-right: 5%;
}

</style>
<title>Syracuse from 1145</title>
</head>
<body>

{% if request.user.is_authenticated %}
<p>
  {% include 'layouts/nav-header-no-homepage.html' %}
</p>
{% else %}
 <p>This database is free to use for any human individuals. It would be completely open if not for aggressive scraping by dubious bots.
  As a second best, go to the login page and use the anonymous username and password there to log in. (This password will change from time to time).
  <br/>You can also use this site to track updates to industries, regions and organizations of interest. For this you will need to sign up with your own id.
  <a href="{% url 'account_login' %}">Click here to login</a> |
  <a href="{% url 'account_signup' %}">Click here to sign up</a>. 
{% endif %}

<h1>Topic Identification: Syracuse from 1145</h1>

<h5>Welcome to syracuse.1145.am, your database of key events in company lifecycles.
Last updated {{ last_updated | localize }}</h5>
{{ motd | safe }}


<div class="search_section">
  <div class="wide_bar">
    <p><strong>Search for a specific organization to display</strong></p>
  </div>
  <div id="form_container">

    <div id="left_panel">
      <p>Search by organization name:</p>
      <form class="narrow_form" action="{% url 'index' %}" method="GET" novalidate>
          {% render_form search_serializer template_pack='rest_framework/inline' %}
          <br/><input type="submit" value="Search">
      </form>
    </div>
    <div id="right_panel">
      <p>or, start browsing by industry:</p>
      <form class="narrow_form" action="{% url 'industry-geo-finder' %}" method="GET" novalidate>
          {% render_form industry_search template_pack='rest_framework/inline' %}
          <br/><input type="submit" value="Search">
      </form>
    </div>
  </div>
  {% if search_type == 'org_name'%}
    <div class="result_list">
      <p>Searched for &quot;{{ search_term | safe }}&quot;.
         Found {{ num_hits }}
        {% if num_hits > 20 %}
         organizations (Max 20 shown for web users):
        {% else %}
         organizations:
        {% endif %}
      </p>
    {% include "organization_list.html" %}
    </div>
  {% else %}

  <br/>
    <div class="search_section">
      <div class="result_list">
        Not sure where to start? Click one of these examples:</p>
        {% include "organization_list.html" %}
      </div>
    </div>
  {% endif %}
</div>

{% include 'layouts/footer.html' %}

</body>
</html>
