<html>
<head>

{% include 'layouts/main-styling.html' %}
{% load l10n %}
{% load rest_framework %}

<style>

.search_section {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}

#form_container {
  display: flex;
  width: 90%;
  flex-direction: row;
}

.wide_bar {
  width: 100%;
}

#left_panel {
  padding: 10px;
  flex: 0 0 50%;
}

#right_panel {
  padding: 10px;
  flex: 1;
}

#result_list {
  padding-left: 15%;
}

</style>
<title>Syracuse from 1145</title>
</head>
<body>

<h1>Topic Identification: Syracuse from 1145</h1>

<h5>Welcome to Syracuse, your database of key events in company lifecycles.
Last updated {{ last_updated | localize }}</h5>
{{ motd | safe }}

{% if request.user.is_authenticated %}
<p>
  {% include 'layouts/nav-header-no-homepage.html' %}
</p>
{% else %}
 <p>Feel free to browse this database anonymously.
  You can track companies and we will notify you when we
  spot a change to one of your tracked companies.
  If you want to track companies please <a href="{% url 'account_signup' %}">sign up for a free account</a> first.</p>
 <p>If you have an existing account, <a href="{% url 'account_login' %}">click here</a> to login.</a>
{% endif %}

{% if alpha_flag %}
  <div class="search_section">
    <div>
      <p><strong>Enter an industry name to show a timeline by industry</strong></p>
      <form class="narrow_form" action="{% url 'timeline' %}" method="GET" novalidate>
          {% render_form industry_serializer template_pack='rest_framework/inline' %}
          <br/><input type="submit" value="Search">
      </form>
    </div>
  </div>
  <div><br/><p>OR</p></div>
{% endif %}

<div class="search_section">
  <div class="wide_bar">
    <p><strong>Search for a specific organization to display</strong></p>
  </div>
  <div id="form_container">

    <div id="left_panel">
      <p>Search by organization name</p>
      <form class="narrow_form" action="{% url 'index' %}" method="GET" novalidate>
          {% render_form search_serializer template_pack='rest_framework/inline' %}
          <br/><input type="submit" value="Search">
      </form>
    </div>
    <div id="right_panel">
      <p>or, filter for companies by industry &amp; country/region</p>
      <form class="narrow_form" action="{% url 'index' %}" method="GET" novalidate>
          {% render_form geo_search template_pack='rest_framework/inline' %}
          {% render_form industry_search template_pack='rest_framework/inline' %}

          <br/><input type="submit" value="Search">
      </form>
    </div>
  </div>
  {% if search_type == 'org_name' or search_type == 'combined_search' %}
    <div id="result_list">
      <p>Searched for {{ search_term }} - found {{ num_hits }} organizations
        {% if num_hits > 20 %}
          (Max 20 shown for web users)
        {% endif %}
        :</p>
      {% for org in organizations %}
        <p><b><a href="{% url 'organization-linkages' domain=org.splitted_uri.domain path=org.splitted_uri.path doc_id=org.splitted_uri.doc_id name=org.splitted_uri.name %}">
          {{ org.label }} </a></b> ({{ org.uri }})</p>
     {% endfor %}
    </div>
    {% endif %}
</div>

<br/>
<div class="search_section">
  <div id="result_list">
    <p>Feeling lucky? Click for a <b><a href="{% url 'random-organization' %}">Random Organization</a></b>

    {% if search_type != 'org_name' and search_type != 'combined_search' %}
      , or select from one of these 10 random examples</p>
      {% for org in organizations %}
        <p><b><a href="{% url 'organization-linkages' domain=org.splitted_uri.domain path=org.splitted_uri.path doc_id=org.splitted_uri.doc_id name=org.splitted_uri.name %}">
          {{ org.label }}</a></b> ({{ org.uri }})</p>
      {% endfor %}
    {% endif %}
  </div>
</div>

{% include 'layouts/footer.html' %}


</body>
</html>
