<html>
<head>

{% include 'layouts/main-styling.html' %}
{% load rest_framework %}
{% load static %}
{% load topics_extras %}

<style>
table, th, td {
  border: 1px solid black;
}

th {
  text-align: center;
}
</style>

<title>Show Resource</title>
</head>
<body>
<p>
  {% include 'layouts/nav-header.html' %}
</p>

<h1>Searched for: {{ search_term }}</h1>

<p>{% include 'layouts/nav-org.html' %}</p>

{% if table_header|length > 0 %}

  <table>
    {% for row in table_header %}
      <tr>
        {% if forloop.first %}
          <th rowspan="{{table_header|length }}">&nbsp;</th>
        {% endif %}
        {% for k,v in row.items %}
          <th colspan="{{v}}">
            {% if k|slice:"0:6" == 'REPEAT' %}
              &nbsp;
            {% else %}
              {{ k }}
            {% endif %}
          </th>
        {% endfor %}
      </tr>
    {% endfor %}
    {% for row in table_body %}
      <tr>
        <td>
          {{row.name}}
        </td>
        {% for val in row.vals %}
          <td style="text-align: right;">
            {{ val }}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
    {% if table_header|length == 0 %}
      <tr>
        <td>
          {{ text_row.name }} (your search)
        </td>
        {% for val in text_row.vals %}
          <td style="text-align: right;">
            {{ val }}
          </td>
        {% endfor %}
      </tr>
    {% endif %}
  </table>
{% else %}
  <p>No results found</p>
{% endif %}

{% include 'layouts/footer.html' %}

</body>
</html>
