<html>
<head>

{% include 'layouts/main-styling.html' %}
{% load rest_framework %}
{% load static %}
{% load topics_extras %}

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-top: 10px;
}

th {
  text-align: center;
}

th.selected, td.selected {
  background-color: #d3f4d3;
}

button {
  margin-top: 10px;
}

</style>
  <title>Syracuse - Company News</title>
</head>
<body>
    <p>
        {% include 'layouts/nav-header.html' %}
    </p>

    <h1>Review Organizations for Tracking</h1>
    <p>
        Based on your selections, we'll be tracking the following organizations for you:
    </p>
    <form method="post" action="{% url 'tracked-org-ind-geo' %}">
        {% csrf_token %}
        <div>
            <button type="submit">Track Selected Organizations</button>
        </div>
        {% for table_row in table_data %}
            <div>
                <br/>
                <h4>{{ table_row.title }}</h4>
                <table>
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="selectall_{{ table_row.table_id }}" value="1"
                                name="track_selectall_{{ table_row.table_id }}" onclick="toggleSelectAll('{{ table_row.table_id }}')" 
                                checked="True"> Track All</th>
                            <input type="hidden" name="track_unselectall_{{table_row.table_id}}" value=0
                                id="unselectall_{{table_row.table_id}}">
                            <th>Name</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for org in table_row.orgs %}
                        <tr>
                            <td><input type="checkbox" name="track_{{table_row.table_id}}_{{ org.uri }}" value=1
                                class="selectorg_{{ table_row.table_id }}" checked="True" 
                                id="{{table_row.table_id}}_{{ org.uri }}"
                                onclick="updateFromTableRow('{{ table_row.table_id }}','{{table_row.table_id}}_{{ org.uri }}')">
                            </td>
                            <input type="hidden" name="track_unselect_{{table_row.table_id}}_{{ org.uri }}" value=0
                                class="unselectorg_{{ table_row.table_id }}" id="unselect_{{ table_row.table_id }}_{{org.uri}}">
                            <td><a href="{% url_with_querystring 'organization-linkages' org.splitted_uri.domain org.splitted_uri.path org.splitted_uri.doc_id org.splitted_uri.name qs_params=request_state.qs_params %}">
                                {{ org.name }}</a></td>                            
                            <td><a href="{% url_with_querystring 'organization-industry-geo-sources' org.splitted_uri.domain org.splitted_uri.path org.splitted_uri.doc_id org.splitted_uri.name qs_params=request_state.qs_params extra_params=table_row.industry_geo_params%}">
                                Sources</a> / 
                                <a href="{% url_with_querystring 'organization-activities' org.splitted_uri.domain org.splitted_uri.path org.splitted_uri.doc_id org.splitted_uri.name qs_params=request_state.qs_params extra_params=table_row.industry_geo_params%}">
                                Recent Activities</a>  
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    
        <div>
            <button type="submit">Track Selected Organizations</button>
        </div>
        <input type="hidden" name="search_str" value="{{ search_str }}">
        <input type="hidden" name="all_industry_ids" value="{{ all_industry_ids }}">
    </form>

    {% include 'layouts/footer.html' %}
    
    <script>
        function toggleSelectAll(tableID) {
            let checkboxes = document.querySelectorAll(`.selectorg_${tableID}`);
            let selectAllCheckbox = document.getElementById(`selectall_${tableID}`);
            let unSelectAllCheckbox = document.getElementById(`unselectall_${tableID}`);
            
            checkboxes.forEach(function(checkbox) {
                checkbox.checked = selectAllCheckbox.checked;
            });

            if (selectAllCheckbox.checked === false) {
                unSelectAllCheckbox.value = 1;
            } else {
                unSelectAllCheckbox.value = 0;
            }
        }

        function updateFromTableRow(tableID, sourceID ) {
            // Toggle "Track All" status
            let checkboxes = document.querySelectorAll(`.selectorg_${tableID}`);
            let selectAllCheckbox = document.getElementById(`selectall_${tableID}`);
            let unSelectAllCheckbox = document.getElementById(`unselectall_${tableID}`);
            
            let cntSelected = 0;
            checkboxes.forEach(function(checkbox) {
                if (checkbox.checked) {
                    cntSelected += 1;
                }
            })
            
            selectAllCheckbox.checked = (cntSelected === checkboxes.length);
            if (cntSelected === 0) {
                unSelectAllCheckbox.value = 1
            }
            else {
                unSelectAllCheckbox.value = 0
            }

            let me = document.getElementById(sourceID);
            let unselect_me = document.getElementById(`unselect_${sourceID}`);
            unselect_me.value = me.checked ? 0 : 1;

        }
    </script>

</body>
</html>