
<html>
<head>

{% include 'layouts/main-styling.html' %}
{% load rest_framework %}
{% load static %}
{% load topics_extras %}

<title>{{ org_data.source_node_name }} (Family Tree)</title>
<style>

#main_container {
  display: flex;
  width: 90%;
  height: 800px;
  flex-direction: row;
}

#visualization {
  flex: 0 0 70%;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
}

</style>
</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<script src="{% static 'js/node_helpers.js' %}"></script>

  <p>
    {% include 'layouts/nav-header.html' %}
  </p>
  <h1>{{ org_data.source_node_name }} - Family Tree</h1>

  <p><b>Showing family tree for:</b> {{ org_data.uri }}
    {% include 'layouts/nav-org.html' %}
  </p>
  <p><strong>Family tree relationships:</strong>
    {{ relationship_link_data.selected_name }} 
    {% for rel_data in relationship_link_data.next_vals %}
      | <a href="{% url_with_querystring 'organization-family-tree' uri_parts.domain uri_parts.path uri_parts.doc_id uri_parts.name qs_params=rel_data.query_string_params %}">{{ rel_data.name }}</a>
    {% endfor %}
  </p>
  {% if nodes_edges.nodes %}
    {% include "track_org_snippet.html" %}
    <div id="main_container">
      <div id="visualization"></div>
      <div id="right_panel">
        <div id="object_details">
          <p><strong>Click a node (entity) or edge (relationship) in the graph for more details, or double-click to drill further.</strong></p>
        </div>
      </div>
    </div>
    {% else %}
    <p><strong>Nothing found</strong></p>
  {% endif %}

  {% include 'layouts/footer.html' %}


<script type="text/javascript">
var nodes = new vis.DataSet( {{ nodes_edges.nodes | safe }} );

var edges = new vis.DataSet( {{ nodes_edges.edges | safe }} );

// create a network
var container = document.getElementById("visualization");
var data = {
  nodes: nodes,
  edges: edges,
};

var options = {
  edges: {
    smooth: {
      type: "cubicBezier",
      forceDirection: "horizontal",
      roundness: 0.4,
    },
  },
  layout: {
    hierarchical: {
      direction: 'LR',
      sortMethod: 'directed',
    },
  },
  physics: true,
  interaction: {selectConnectedEdges: false},
};

var network = new vis.Network(container, data, options);

const node_details_dict = {{ nodes_edges.node_details | safe }} ;
const edge_details_dict = {{ nodes_edges.edge_details | safe }} ;


network.on("selectEdge", function(obj) {
  document.getElementById('object_details').innerHTML = '<h4>Selected Edge (Relationship) Details</h4>' + showItemDetails(obj.edges[0],edge_details_dict,"edge","{{ request_state.qs_params|dict_to_query_string }}");
});

network.on("selectNode", function(obj) {
  document.getElementById('object_details').innerHTML = '<h4>Selected Node Details</h4>' + showItemDetails(obj.nodes[0],node_details_dict,"node","{{ request_state.qs_params|dict_to_query_string }}");
})

function getNodeUri(obj) {
  attribs = obj.nodes ;
  if ((attribs === undefined) || (attribs.length == 0)) {
    return ;
  }
  var uri = attribs[0];
  console.log("Uri " + uri)
  return uri ;
}

function getActivityUri(obj) {
  var edge_id = obj.edges[0];
  var edge_uri = edge_details_dict[edge_id].activity_uri;
  return edge_uri;
}

network.on("doubleClick", function(obj) {
  console.log(obj);
  org_uri = getNodeUri(obj) ;
  if (org_uri) {
    drillIntoUri(org_uri, "/organization/family-tree/uri/", "{{ request_state.qs_params|dict_to_query_string }}");
  } else {
    activity_uri = getActivityUri(obj);    
    if (activity_uri) {
      drillIntoUri(activity_uri, "/resource/", "{{ request_state.qs_params|dict_to_query_string }}");
    }
  }
})

</script>

</body>
</html>
