
<html>
<head>

{% include 'layouts/main-styling.html' %}
{% load rest_framework %}
<title>{{ data_serializer.source_node_name }} (Linkages)</title>
<style>

#main_container {
  display: flex;
  width: 90%;
  height: 800px;
  flex-direction: row;
}

#visualization {
  flex: 0 0 70%;
}

</style>
</head>
<body>

<h1>{{ data_serializer.source_node_name }} - Linkages</h1>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

<p><b>Showing linkages for:</b> {{ data_serializer.source_node }}
| <a href="{% url 'organization-timeline' org_data.domain org_data.path org_data.doc_id org_data.name %}">
   Show Timeline</a>
| Back to <a href="/">Home page</a>
</p>

<div id="main_container">
  {% if data_serializer.too_many_nodes is True %}
    <p>Graph size exceeds limits for web users. Please <a href="mailto:info-syracuse@1145.am?subject=Want%20to%20see%20more%20Syracuse%20data&body=Dear%20Info%0D%0AI%20would%20like%20to%20discuss%20accessing%20{{ source_node }}">contact us</a> for API or bulk data.</p>
  {% else %}
      <div id="visualization"></div>
      <div id="right_panel">
        <div id="object_details">
          <p><strong>Click an item in the graph for more details</strong></p>
        </div>
        <div id="legend">
          <div id="legend_details">
            <p><strong>Legend</strong></p>
            <div class="organization">Organization</div>
            <div class="person">Person</div>
            <div class="location">Location</div>
            <div class="activity_with_when">Activity with Date</div>
            <div class="activity_has_happened">Activity which happened before publish date</div>
            <div class="activity_not_happened">Activity which had not happened by publish date</div>
          </div>
       </div>
       <br/>
     </div>
  {% endif %}
</div>

{% include 'layouts/footer.html' %}

<script type="text/javascript">

var nodes = new vis.DataSet([
  {% for node_dict in data_serializer.node_data %}
    { id: "{{ node_dict.id }}", label: "{{ node_dict.label|escapejs }}", color: "{{ node_dict.color }}", shape: "{{ node_dict.shape }}", title: "{{ node_dict.title }}" },
  {% endfor %}
]);

var edges = new vis.DataSet([
  {% for edge_dict in data_serializer.edge_data %}
    { id: "{{ edge_dict.id }}", from: "{{ edge_dict.from }}", to: "{{ edge_dict.to }}", arrows: "{{ edge_dict.arrows }}", chosen: false, length: 180, label: "{{ edge_dict.label |escapejs}}", color: { color: "{{ edge_dict.color }}" },},
  {% endfor %}
]);

var container = document.getElementById("visualization");
var data = {
  nodes: nodes,
  edges: edges
};
var options = {
  interaction: {
    selectConnectedEdges: false,
    hover: true,
  },
  edges: {
    font: {
      size: 12,
    },
    widthConstraint: {
      maximum: 200,
    },
  },
  nodes: {
    shape: "box",
    margin: 10,
    widthConstraint: {
      maximum: 200,
    },
  },
};

var network = new vis.Network(container, data, options);

const node_details_dict = {{ data_serializer.node_details | safe }} ;
const edge_details_dict = {{ data_serializer.edge_details | safe }} ;

function convert_uri(value) {
  if (value.startsWith("https://1145.am")) {
    var regex = /^https:\/\/1145.am/i ;
    val = value.replace(regex, location.protocol + "//" + location.host + "/1145.am");
    return val;
  } else {
    return value;
  }
}

function showItemDetails(item_id, lookup_dict, node_or_edge) {
	item_vals = Object.entries(lookup_dict[item_id]);
  entityType = '';
  text = "";
  documentURL = "";
  archive_date = "";
  for (const [key, value] of item_vals) {
    if (key.endsWith("URL") | (key.toLowerCase() == "uri")) {
      uri_target = convert_uri(value)
      text = text + "<b>" + key + "</b>: <a href='" + uri_target + "' target='_blank'>" + value + "</a></br>";
    } else {
      text = text + "<b>" + key + "</b>: " + value + "</br>";
    }
    if (key === 'entityType') {
      entityType = value;
    }
    if (key === 'documentURL') {
      documentURL = value;
    }
    if (key === 'retrievedAt') {
      archive_date = value;
    }
    if (key === 'documentDate' & archive_date === "") {
      archive_date = value;
    }
  }

  if (archive_date !== '' & documentURL !== '' ) {
    tmp_date = archive_date.replaceAll("-","");
    archive_url = "https://web.archive.org/web/" + tmp_date + "/" + documentURL;
    archive_list = "https://web.archive.org/web/" + tmp_date + "*/" + documentURL;
    text = text + "<b>archive.org URL (experimental)</b>: <a href='" + archive_url + "' target='_blank'>" + archive_url + "</a></br>";
    text = text + "<b>archive.org List URL (experimental)</b>: <a href='" + archive_list + "' target='_blank'>" + archive_list + "</a></br>";
  }

  text = text + "<br/>";

  if (entityType == 'Organization') {
    path = item_id.replace("https://","");
    path = path.replace("http://","");
    text = text + "<p><a href='/organization/linkages/uri/" + path + "'>Show a new visualization centered on this organization</a></p>";
  } else if (entityType == 'Cluster') {
    text = text + "<p>This is the central organization for this linkages graph</p>";
  }

  text = text + error_form(node_or_edge, item_id);
	return text;
}

function error_form(node_or_edge, unique_id) {
  text = "<form method='post' action='/feedbacks/create' class='form-inline'>";
  text = text + "See something unexpected or wrong about this item? If so please use the form below to notify us of the issue:</p>";
  text = text + "<input type='hidden' name='csrfmiddlewaretoken' value='" + Cookies.get('csrftoken') + "'>"
  text = text + "<input type='hidden' name='node_or_edge' value='" + node_or_edge+ "'/><input type='hidden' value='";
  text = text + unique_id;
  text = text + "' name='idval'/><div class='mb-3'><label for='reasonTextArea' class='form-label'><strong>Reason:</strong></label>";
  text = text + "<textarea name='reason' id='reasonTextArea' class='form-control' rows='3'></textarea></div><input type='submit' value='Submit Suggestion'/></form>";
  return text

}

network.on("selectEdge", function(obj) {
  document.getElementById('object_details').innerHTML = '<h4>Selected Edge (Relationship) Details</h4>' + showItemDetails(obj.edges[0],edge_details_dict,"edge");
});

network.on("selectNode", function(obj) {
  document.getElementById('object_details').innerHTML = '<h4>Selected Node Details</h4>' + showItemDetails(obj.nodes[0],node_details_dict,"node");
})

network.on("doubleClick", function(params) {
  nodes = params.nodes
  if ((typeof nodes === undefined) || (nodes.length == 0)) {
    return;
  }
  uri = nodes[0];
  node_vals = Object.entries(node_details_dict[uri]);
  for (const [key, value] of node_vals) {
    if (key == 'entityType') {
      if (value != 'Organization') {
        console.log("Cannot crate new graph centered on " + uri)
        return;
      }
    }
  }
  tmp_url = new URL(uri);
  target_url = "/organization/linkages/uri/" + tmp_url.hostname + tmp_url.pathname ;
  window.location.replace(target_url);
})
</script>

</body>
</html>
