
<html>
<head>

{% include 'layouts/main-styling.html' %}
{% load rest_framework %}
{% load static %}
{% load topics_extras %}

<title>{{ org_data.source_node_name }} (Linkages)</title>
<style>

#main_container {
  display: flex;
  width: 90%;
  height: 800px;
  flex-direction: row;
}

#visualization {
  flex: 0 0 70%;
}

</style>
</head>
<body>

<h1>{{ org_data.source_node_name }} - Linkages</h1>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<script src="{% static 'js/node_helpers.js' %}"></script>

<p>
{% include 'layouts/nav-header.html' %}
| <a href="{% url 'organization-children-list' org_data.domain org_data.path org_data.doc_id org_data.name %}">
  Show Child Org List</a>
| <a href="{% url 'organization-timeline' org_data.domain org_data.path org_data.doc_id org_data.name %}">
   Show Timeline</a>
</p>
<p><b>Showing linkages for:</b> {{ data_serializer.source_node }}</p>


<p><b>Show/Hide: </b>
{% for entity_type in data_serializer.nodes_by_type.keys %}
  <label for="{{ entity_type }}_checkbox">{{ entity_type }}</label>
  <input type="checkbox" name="{{ entity_type }}" id="{{ entity_type }}_checkbox" class="node_checkbox" checked>
  {% if not forloop.last %}
    |
  {% endif %}
{% endfor %}
</p>

{% include "track_org_snippet.html" %}

<div id="main_container">
  {% if data_serializer.too_many_nodes is True %}
    <p>Graph size exceeds limits for web users. Please <a href="mailto:info-syracuse@1145.am?subject=Want%20to%20see%20more%20Syracuse%20data&body=Dear%20Info%0D%0AI%20would%20like%20to%20discuss%20accessing%20{{ source_node }}">contact us</a> for API or bulk data.</p>
  {% else %}
      <div id="visualization"></div>
      <div id="right_panel">
        <div id="object_details">
          <p><strong>Click an item in the graph for more details</strong></p>
        </div>
        <div id="legend">
          <div id="legend_details">
            <p><strong>Legend</strong></p>
            <div class="organization">Organization</div>
            <div class="person">Person</div>
            <div class="location">Location</div>
            <div class="activity_with_when">Activity with Date</div>
            <div class="activity_has_happened">Activity which happened before publish date</div>
            <div class="activity_not_happened">Activity which had not happened by publish date</div>
          </div>
       </div>
       <br/>
     </div>
  {% endif %}
</div>

{% include 'layouts/footer.html' %}

<script type="text/javascript">

function toggleNode(checkbox) {
  uris = Object.entries(nodes_by_type_dict[checkbox.name])
  for (const [k,uri] of uris) {
    nodes.update( [{"id":uri, "hidden": ! checkbox.checked}]);
  }
}

document.addEventListener("DOMContentLoaded", function() {
    var checkboxes = document.querySelectorAll(".node_checkbox");

    checkboxes.forEach(function(checkbox) {
        checkbox.addEventListener("click", function() {
            toggleNode(checkbox);
        });
    });
});

var nodes = new vis.DataSet([
  {% for node_dict in data_serializer.node_data %}
    { id: "{{ node_dict.id }}", label: "{{ node_dict.label|escapejs }}", color: "{{ node_dict.color }}", shape: "{{ node_dict.shape }}", title: "{{ node_dict.title }}" },
  {% endfor %}
]);

var edges = new vis.DataSet([
  {% for edge_dict in data_serializer.edge_data %}
    { id: "{{ edge_dict.id }}", from: "{{ edge_dict.from }}", to: "{{ edge_dict.to }}", arrows: "{{ edge_dict.arrows }}", chosen: false, length: 180, label: "{{ edge_dict.label |escapejs}}", color: { color: "{{ edge_dict.color }}" },},
  {% endfor %}
]);

var container = document.getElementById("visualization");
var data = {
  nodes: nodes,
  edges: edges
};
var options = {
  interaction: {
    selectConnectedEdges: false,
    hover: true,
  },
  edges: {
    font: {
      size: 12,
    },
    widthConstraint: {
      maximum: 200,
    },
  },
  nodes: {
    shape: "box",
    margin: 10,
    widthConstraint: {
      maximum: 200,
    },
  },
};

var network = new vis.Network(container, data, options);

const node_details_dict = {{ data_serializer.node_details | safe }} ;
const edge_details_dict = {{ data_serializer.edge_details | safe }} ;
const nodes_by_type_dict = {{ data_serializer.nodes_by_type | safe }} ;

network.on("selectEdge", function(obj) {
  document.getElementById('object_details').innerHTML = '<h4>Selected Edge (Relationship) Details</h4>' + showItemDetails(obj.edges[0],edge_details_dict,"edge");
});

network.on("selectNode", function(obj) {
  document.getElementById('object_details').innerHTML = '<h4>Selected Node Details</h4>' + showItemDetails(obj.nodes[0],node_details_dict,"node");
})

network.on("doubleClick", function(params) {
  nodes = params.nodes
  if ((typeof nodes === undefined) || (nodes.length == 0)) {
    return;
  }
  uri = nodes[0];
  node_vals = Object.entries(node_details_dict[uri]);
  for (const [key, value] of node_vals) {
    if (key == 'entityType') {
      if (value != 'Organization') {
        console.log("Cannot crate new graph centered on " + uri)
        return;
      }
    }
  }
  tmp_url = new URL(uri);
  target_url = "/organization/linkages/uri/" + tmp_url.hostname + tmp_url.pathname ;
  window.location.replace(target_url);
})
</script>

</body>
</html>
