
<html>
<head>

{% include 'layouts/main-styling.html' %}
{% load rest_framework %}
{% load static %}
{% load topics_extras %}
{% load l10n %}

<title>Syracuse (Company News)</title>
</head>
<body>

  <p>
    {% include 'layouts/nav-header.html' %}
  </p>
  <h1>{{ org_data.source_node_name }} - Activities</h1>

  <p><b>Showing activities for:</b> 
    <a href="{{ org_data.uri }}?{{ request_state.qs_params|dict_to_query_string }}">{{ org_data.uri }}</a>
    {% include 'layouts/nav-org.html' %}
  </p>

  {% include 'layouts/org-info.html' %}

  <p>Showing activities for the last {{ days_ago }} days between {{ min_date | localize }} and {{ max_date | localize }}
  
  {% if days_ago < 90 %}
    <a href="{% url_with_extra_querystring_param request_state.current_page_no_qs qs_args1=request_state.qs_params qs_arg2='days_ago' qs_val2='90' %}">(Show last 90 days)</a>
  {% endif %}


  </p>

  {% include 'activity_list.html' %}

  {% include 'layouts/footer.html' %}


</body>
</html>
