{% load topics_extras %}

{% if organizations|length %}
    <table>
        <tr>
            <th>Name</th>
            <th>Description / Line of Business</th>
            <th># Relationships</th>
        </tr>
        {% for org in organizations %}
            <tr>
                <td><a href="{% url_with_querystring 'organization-activities' org.splitted_uri.domain org.splitted_uri.path org.splitted_uri.doc_id org.splitted_uri.name qs_params=request_state.qs_params %}">
                {{ org.label }}</a></td>
                <td>
                {% if org.about_us %}
                    {{ org.about_us }} 
                {% elif org.line_of_business %}
                    {{ org.line_of_business }}
                {% endif %}
                </td>
                <td align="right">{{ org.article_count }}</td>
            </tr>
    {% endfor %}
    </table>
    <br/>
{% endif %}