
<html>
<head>

{% include 'layouts/main-styling.html' %}
{% load rest_framework %}
<title>{{ timeline_serializer.org_name }} (Timeline)</title>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/vis-timeline@latest/standalone/umd/vis-timeline-graph2d.min.js"></script>

<style>
.vis-panel {
  font-size: 11px;
}

.vis-item.activity_with_when {
  background-color: #f6c655;
}

.vis-item.activity_not_happened {
  background-color: #ffe6ff;
}

.vis-item.activity_has_happened {
  background-color: #b3ffff;
  }

#main_container {
    display: flex;
    width: 90%;
    flex-direction: row;
  }

#visualization {
    flex: 0 0 80%;
}


</style>
</head>

<body>
  <h1>{{ timeline_serializer.org_name }} - Timeline</h1>
  <p>
    {% include 'layouts/nav-header.html' %}
  |  <a href="{% url 'organization-linkages' org_data.domain org_data.path org_data.doc_id org_data.name %}">
      Show Linkages</a>
  </p>
  <p><b>Showing timeline for:</b> {{ timeline_serializer.org_node }}</p>
    {% include "track_org_snippet.html" %}
    <br/><em>Shown by document published date</em>
  </p>
  <div id="main_container">
    <div id="visualization"></div>
    <div id="right_panel">
      <div id="item_details">
        <p>Click an organization name or an item in the timeline for more details</p>
      </div>
      <br/>
      <div id="legend">
        <div id="legend_details">
          <p><strong>Legend</strong></p>
          <div class="activity_with_when">Activity with Date</div>
          <div class="activity_has_happened">Activity which happened before publish date</div>
          <div class="activity_not_happened">Activity which had not happened by publish date</div>
        </div>
     </div>
   </div>
</div>
<div>
  {% if timeline_serializer.errors|length > 0 %}
  <p><em>The following orgs were not shown for web users due to size:
    {{ timeline_serializer.errors }}
  </em></p>
  {% endif %}

{% include 'layouts/footer.html' %}
</div>
  <script type="text/javascript">
    // create groups to highlight groupUpdate
    var groups = new vis.DataSet([
      {% for group in timeline_serializer.groups %}
        { id: "{{ group.id }}", content: "{{ group.content }}", treeLevel: "{{ group.treeLevel }}",
        {% if group.treeLevel == 1 %}
          nestedGroups: {{ group.nestedGroups | safe}}
        {% endif %}
      },
      {% endfor %}
    ]);
    // create a DataSet with items
    var items = new vis.DataSet([
      {% for item in timeline_serializer.items %}
        { id: "{{ item.id }}", start: "{{ item.start }}", group: "{{ item.group }}", content: "{{ item.label }}", className: "{{ item.className }}"},
      {% endfor %}
    ]);

    var container = document.getElementById("visualization");
    var options = {
      editable: false, // default for all items
    };

    var timeline = new vis.Timeline(container, items, groups, options);

    const item_display_dict = {{ timeline_serializer.item_display_details | safe }} ;
    const org_display_dict = {{ timeline_serializer.org_display_details | safe }} ;

    timeline.on('click', function (properties) {
      console.log(properties);
      if (properties.item) {
        document.getElementById('item_details').innerHTML = '<h4>Selected Activity Details</h4>' + showItemDetails(properties.item, item_display_dict, 'node');
      } else if (properties.what == 'group-label') {
        document.getElementById('item_details').innerHTML = '<h4>Selected Organization Details</h4>' + showItemDetails(properties.group, org_display_dict, 'node');
      }
    });

    function convert_uri(value) {
      if (value.startsWith("https://1145.am")) {
        var regex = /^https:\/\/1145.am/i ;
        val = value.replace(regex, location.protocol + "//" + location.host + "/1145.am");
        return val;
      } else {
        return value;
      }
    }

    function showItemDetails(item_id, lookup_dict, node_or_edge) {
      vals = Object.entries(lookup_dict[item_id])
      text = "";
      documentURL = "";
      archive_date = "";
      for (const [key, value] of vals) {
        if (key.endsWith("URL") | (key.toLowerCase() == "uri")) {
          if (Array.isArray(value) ) {
            val_as_arr = value
          } else {
            val_as_arr = [value]
          }
          for (val_id in val_as_arr) {
            val = val_as_arr[val_id]
            text = text + "<b>" + key + "</b>: <a href='" + convert_uri(val) + "' target='_blank'>" + val + "</a></br>";
          }
        } else {
          text = text + "<b>" + key + "</b>: " + value + "</br>";
        }
        if (key === 'documentURL') {
          console.log(value)
          documentURL = value;
        }
        if (key === 'retrievedAt') {
          archive_date = value;
        }
        if (key === 'documentDate') {
          archive_date = value;
        }
        if (key === 'datePublished') {
          archive_date = value;
        }
        if (key === 'dateRetrieved' & archive_date === "") {
          archive_date = value;
        }
      }

      if (archive_date !== '' & documentURL !== '' ) {
        tmp_date = archive_date.replaceAll("-","");
        archive_url = "https://web.archive.org/web/" + tmp_date + "/" + documentURL;
        archive_list = "https://web.archive.org/web/" + tmp_date + "*/" + documentURL;
        text = text + "<b>archive.org URL (experimental)</b>: <a href='" + archive_url + "' target='_blank'>" + archive_url + "</a></br>";
        text = text + "<b>archive.org List URL (experimental)</b>: <a href='" + archive_list + "' target='_blank'>" + archive_list + "</a></br>";
      }
      text = text + "</br>";
      text = text + error_form(node_or_edge, item_id );
      return text;
    }


    function error_form(node_or_edge, unique_id) {
      text = "<form method='post' action='/feedbacks/create' class='form-inline'>";
      text = text + "See something unexpected or wrong about this item? If so please use the form below to notify us of the issue:</p>";
      text = text + "<input type='hidden' name='csrfmiddlewaretoken' value='" + Cookies.get('csrftoken') + "'>"
      text = text + "<input type='hidden' name='node_or_edge' value='" + node_or_edge+ "'/><input type='hidden' value='";
      text = text + unique_id;
      text = text + "' name='idval'/><div class='mb-3'><label for='reasonTextArea' class='form-label'><strong>Reason:</strong></label>";
      text = text + "<textarea name='reason' id='reasonTextArea' class='form-control' rows='3'></textarea></div><input type='submit' value='Submit Suggestion'/></form>";
      return text

    }

  </script>

</body>

</html>
