
<html>
<head>

{% include 'layouts/main-styling.html' %}
{% load rest_framework %}
{% load static %}
{% load topics_extras %}

<title>{{ timeline_serializer.org_name }} (Timeline)</title>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/vis-timeline@latest/standalone/umd/vis-timeline-graph2d.min.js"></script>
<script src="{% static 'js/node_helpers.js' %}"></script>

<style>
.vis-panel {
  font-size: 11px;
}

#main_container {
    display: flex;
    width: 90%;
    flex-direction: row;
  }

#visualization {
    flex: 0 0 80%;
}

</style>
</head>

<body>
  <p>
  {% include 'layouts/nav-header.html' %}
  </p>
  <h1>{{ timeline_serializer.org_name }} - Timeline</h1>
  <p><b>Showing timeline for:</b> {{ timeline_serializer.org_node }}
     {% include 'layouts/nav-org.html' %}
  </p>
    {% include "track_org_snippet.html" %}
  <p><em>Shown by document published date</em></p>
  <div id="main_container">
    <div id="visualization"></div>
    <div id="right_panel">
      <div id="item_details">
        <p><strong>Click a node (entity) or edge (relationship) in the graph for more details, or double-click to drill further.</strong></p>
      </div>
      <br/>
   </div>
</div>
<div>
  {% if timeline_serializer.errors|length > 0 %}
  <p><em>The following orgs were not shown for web users due to size:
    {{ timeline_serializer.errors }}
  </em></p>
  {% endif %}

{% include 'layouts/footer.html' %}
</div>
  <script type="text/javascript">
    // create groups to highlight groupUpdate
    var groups = new vis.DataSet([
      {% for group in timeline_serializer.groups %}
        { id: "{{ group.id }}", content: "{{ group.content }}", treeLevel: "{{ group.treeLevel }}",
        {% if group.treeLevel == 1 %}
          nestedGroups: {{ group.nestedGroups | safe}}
        {% endif %}
      },
      {% endfor %}
    ]);
    // create a DataSet with items
    var items = new vis.DataSet([
      {% for item in timeline_serializer.items %}
        { id: "{{ item.id }}", start: "{{ item.start }}", group: "{{ item.group }}", content: "{{ item.label }}", className: "{{ item.className }}"},
      {% endfor %}
    ]);

    var container = document.getElementById("visualization");
    var options = {
      editable: false, // default for all items
    };

    var timeline = new vis.Timeline(container, items, groups, options);

    const item_display_dict = {{ timeline_serializer.item_display_details | safe }} ;
    const org_display_dict = {{ timeline_serializer.org_display_details | safe }} ;

    timeline.on('click', function (properties) {
      console.log(properties);
      if (properties.item) {
        document.getElementById('item_details').innerHTML = '<h4>Selected Activity Details</h4>' + showItemDetails(properties.item, item_display_dict, 'node',"{{ request_state.qs_params|dict_to_query_string }}");
      } else if (properties.what === 'group-label') {
        document.getElementById('item_details').innerHTML = '<h4>Selected Organization Details</h4>' + showItemDetails(properties.group, org_display_dict, 'node',"{{ request_state.qs_params|dict_to_query_string }}");
      }
    });

    timeline.on("doubleClick", function(properties) {
      if (properties.item) { // it's an item in the timeline, i.e. an activity
        drillIntoUri(properties.item, "/resource/", "{{ request_state.qs_params|dict_to_query_string }}");
      } else if (properties.what === 'group-label') { // it's an entity name
        item_vals = Object.entries(org_display_dict[properties.group]);
        drillIntoUri(item_vals.uri, "/organization/timeline/uri/", "{{ request_state.qs_params|dict_to_query_string }}");
      }
    });

  </script>

</body>

</html>
