
<html>
<head>

{% include 'layouts/main-styling.html' %}
{% load rest_framework %}
{% load static %}

<title>Parent - Child</title>
</head>
<body>

<h1>Parent - Child<h1>
  <p>
    {% include 'layouts/nav-header.html' %}
  </p>
  <p>
    Search by organization name to see a list of acquisitions/investments/sales for matching organizations
  </p>
  <form class="narrow_form" action="{% url 'parent-child' %}" method="GET" novalidate>
      {% render_form search_serializer template_pack='rest_framework/inline' %}
      <br/><input type="submit" value="Search">
  </form>

  {% if orgs_and_children|length > 0 %}
  <p>Found {{ orgs_and_children|length }} matching organization(s). For each organization,
    results are shown in date order, oldest first.</p>
  {% endif %}

  {% for org in orgs_and_children %}
    <h5><a href="{ org.parent_org_uri } ">{{ org.parent_org }}</a></h5>
    <ul>
    {% for child in org.children %}
      {% include 'parent_child_list.html' %}
    {% endfor %}
    </ul>
  {% endfor %}

  {% include 'layouts/footer.html' %}

</body>
