
{% if child and child.activity_status_as_string == 'completed' %}
  <li>
    <b><a href="{{ child.uri }}">{{ child.label }}</a></b>
    {{ child.date_published }}
    <b>{{ child.parent_relationship_type | title }}</b>
    <a href="{{ child.activity_uri }}">({{ child.activity_longest_type }})</a>
    - {{ child.activity_status_as_string }} - {{ child.source_organization }}:
    <a href="{{ child.document_url }}">{{ child.headline }}</a>
    <em style="font-size:12px;">{{ child.document_extract }}</em>
  </li>
{% endif %}
