{% load topics_extras %}

{% if child and child.activity_status_as_string == 'completed' %}
  <li>
    <b><a href="{{ child.uri|local_uri:request }}">{{ child.label }}</a></b>
    <b>{{ child.parent_relationship_type | title }}</b>
    <a href="{{ child.activity_uri|local_uri:request }}">({{ child.activity_longest_type }})</a>
    - {{ child.activity_status_as_string }} - {{ child.source_organization }}:
    <a href="{{ child.document_url }}">{{ child.headline }}</a>
    <em style="font-size:12px;">{{ child.document_extract }} ({{ child.date_published }})</em>
  </li>
{% endif %}
