
<html>
<head>

{% include 'layouts/main-styling.html' %}
{% load rest_framework %}
{% load static %}
{% load topics_extras %}

<title>Show Resource</title>

</head>
<body>
<p>
  {% include 'layouts/nav-header.html' %}
</p>

<h1>Resource: {{ data_serializer.resource.uri }}</h1>

<p>{% include 'layouts/nav-org.html' %}</p>

<h3>Attributes</h3>
<p>
  {% for field, value in data_serializer.resource.items %}
    <strong>{{ field|prettify_snake_case }}</strong>:
    {{ value|pretty_print_list_uri:request }}<br/>
  {% endfor %}
</p>
<h3>Relationships</h3>
<p>
  {% for label, entries in data_serializer.relationships.items %}
    <strong>{{ label|prettify_camel_case }}</strong>:
    <ul>
      {% for entry in entries|slice:":10" %}
      <li>
        {{ entry.label }} ({{ entry.uri|pretty_print_list_uri:request }})
        {% if entry.doc_extract %}
          <em>{{ entry.doc_extract }}</em>
        {% endif %}
      </li>
      {% endfor %}
      {% if entries|length > 10 %}
        <li><em>Max 10 entries shown</em></li>
      {% endif %}        
    </ul>
  {% endfor %}
</p>

<form method='post' action='/feedbacks/create' class='form-inline'>
  <p>See something unexpected or wrong about this item? If so please use the form below to notify us of the issue:</p>
  <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}'/>
  <input type='hidden' name='node_or_edge' value='node'/>
  <input type='hidden' value='{{ data_serializer.resource.uri }}' name='idval'/>
  <div class='mb-3'><label for='reasonTextArea' class='form-label'><strong>Reason:</strong></label>
  <textarea name='reason' id='reasonTextArea' class='form-control' rows='3'></textarea></div>
  <input type='submit' value='Submit Suggestion'/>
</form>

{% include 'layouts/footer.html' %}

</body>
</html>
