
<html>
<head>

{% include 'layouts/main-styling.html' %}
{% load rest_framework %}
{% load static %}
{% load topics_extras %}

<title>Show Resource</title>
</head>
<body>
<p>
  {% include 'layouts/nav-header.html' %}
</p>

<h1>Resource: {{ data_serializer.resource.uri }}</h1>

<p>{% include 'layouts/nav-org.html' %}</p>

<h3>Attributes</h3>
<p>
  {% for field, value in data_serializer.resource.items %}
    <strong>{{ field|prettify_snake_case }}</strong>:
    {{ value|pretty_print_list_uri:request }}<br/>
  {% endfor %}
</p>
<h3>Relationships</h3>
<p>
  {% for label, entries in data_serializer.relationships.items %}
    <strong>{{ label|prettify_camel_case }}</strong>:
    <ul>
      {% for entry in entries %}
      <li>
        {{ entry.best_name }} ({{ entry.uri|pretty_print_list_uri:request }})
        {% if entry.doc_extract %}
          <em>{{ entry.doc_extract }}</em>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  {% endfor %}
</p>

{% include 'layouts/footer.html' %}

</body>
</html>
