<html>
<head>

{% include 'layouts/main-styling.html' %}
{% load rest_framework %}
{% load static %}
{% load topics_extras %}

<title>Syracuse (Company News)</title>

</head>
<body>

<p>
{% include 'layouts/nav-header.html' %}
</p>

<h1>{{ org.best_name }} - Similar Organizations</h1>

<p>Showing similar organizations for:
    <a href="{{ org.uri }}?{{ request_state.qs_params|dict_to_query_string }}">{{ org.uri }}</a>
    {% if org.industry_as_string %}
        - {{ org.industry_as_string }}
    {% endif %}
    {% if org.based_in_high_as_string %}
        - <em>{{ org.based_in_high_as_string }}</em>
    {% endif %}
    {% with uri_parts=org.splitted_uri %}
        {% include 'layouts/nav-org.html' %}
    {% endwith %}
</p>

<h4>Similar Organizations by structured Industry Cluster</h4>

{% if organizations_by_industry_cluster|length == 0 %}
    <p>No matching organizations found</p>
{% endif %}

{% for ind, ks in organizations_by_industry_cluster.items %}
    <h5>{{ ind.best_name }}</h5>
    <ul>
    {% for org in ks %}
        <li><a href="{% url_with_querystring 'organization-linkages' org.splitted_uri.domain org.splitted_uri.path org.splitted_uri.doc_id org.splitted_uri.name qs_params=request_state.qs_params %}">{{ org.best_name }}</a>
            {% if org.industry_as_string %}
               - {{ org.industry_as_string }}
            {% endif %}
            {% if org.based_in_high_as_string %}
               - <em>{{ org.based_in_high_as_string}}</em>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endfor %}

<h4>Similar Organizations by Industry Text</h4>

{% if organizations_by_industry_text|length == 0 %}
    <p>No further matching organizations found</p>
{% endif %}

<ul>
    {% for org in organizations_by_industry_text %}
        <li><a href="{% url_with_querystring 'organization-linkages' org.splitted_uri.domain org.splitted_uri.path org.splitted_uri.doc_id org.splitted_uri.name qs_params=request_state.qs_params %}">{{ org.best_name }}</a>
            {% if org.industry_as_string %}
               - {{ org.industry_as_string }}
            {% endif %}
            {% if org.based_in_high_as_string %}
               - <em>{{ org.based_in_high_as_string}}</em>
            {% endif %}
        </li>
    {% endfor %}
</ul>
</body>
</html>