
<html>
<head>

{% include 'main/styling.html' %}
{% load rest_framework %}
<title>Timeline</title>
<script type="text/javascript" src="https://unpkg.com/vis-timeline@latest/standalone/umd/vis-timeline-graph2d.min.js"></script>

<style>
.vis-panel {
  font-size: 11px;
}

.vis-item.activity_with_when {
  background-color: #f6c655;
}

.vis-item.activity_not_happened {
  background-color: #ffe6ff;
}

.vis-item.activity_has_happened {
  background-color: #b3ffff;
  }

#main_container {
    display: flex;
    width: 90%;
    flex-direction: row;
  }

#visualization {
    flex: 0 0 80%;
}


</style>
</head>

<body>
  <h1>Timeline for organizations matching: {{ industry_name }} </h1>
  <p><em>{{ timeline_serializer.limit_msg }}</em></p>
  <div id="main_container">
    <div id="visualization"></div>
    <div id="right_panel">
      <div id="item_details">
        <p>Click an organization name or an item in the timeline for more details</p>
      </div>
      <br/>
      <div id="legend">
        <div id="legend_details"/>
        <p><strong>Legend</strong></p>
        <div class="activity_with_when">Activity with Date</div>
        <div class="activity_has_happened">Activity which happened before publish date</div>
        <div class="activity_not_happened">Activity which had not happened by publish date</div>
     </div>
   </div>
</div>
</div>
  <p>Back to <a href="/">Home page</a></p>
  {% if timeline_serializer.errors|length > 0 %}
  <p><em>The following orgs were not shown for unauthenticated users due to size:
    {{ timeline_serializer.errors }}
  </em></p>
  {% endif %}


  <script type="text/javascript">
    // create groups to highlight groupUpdate
    var groups = new vis.DataSet([
      {% for group in timeline_serializer.groups %}
        { id: "{{ group.id }}", content: "{{ group.content }}", treeLevel: "{{ group.treeLevel }}",
        {% if group.treeLevel == 1 %}
          nestedGroups: {{ group.nestedGroups | safe}}
        {% endif %}
      },
      {% endfor %}
    ]);
    // create a DataSet with items
    var items = new vis.DataSet([
      {% for item in timeline_serializer.items %}
        { id: "{{ item.id }}", start: "{{ item.start }}", group: "{{ item.group }}", content: "{{ item.label }}", className: "{{ item.className }}"},
      {% endfor %}
    ]);

    var container = document.getElementById("visualization");
    var options = {
      editable: false, // default for all items
    };

    var timeline = new vis.Timeline(container, items, groups, options);

    const item_display_dict = {{ timeline_serializer.item_display_details | safe }} ;
    const org_display_dict = {{ timeline_serializer.org_display_details | safe }} ;

    timeline.on('click', function (properties) {
      console.log(properties);
      if (properties.item) {
        document.getElementById('item_details').innerHTML = '<h4>Selected Activity Details</h4>' + showItemDetails(properties.item, item_display_dict);
      } else if (properties.what == 'group-label') {
        document.getElementById('item_details').innerHTML = '<h4>Selected Organization Details</h4>' + showItemDetails(properties.group, org_display_dict);
      }
    });

    function showItemDetails(item_id, lookup_dict) {
      vals = Object.entries(lookup_dict[item_id])
      text = "";
      documentURL = "";
      archive_date = "";
      for (const [key, value] of vals) {
        if (key.endsWith("URL") | (key.toLowerCase() == "uri")) {
          text = text + "<b>" + key + "</b>: <a href='" + value + "' target='_blank'>" + value + "</a></br>";
        } else {
          text = text + "<b>" + key + "</b>: " + value + "</br>";
        }
        if (key === 'documentURL') {
          console.log(value)
          documentURL = value;
        }
        if (key === 'retrievedAt') {
          console.log(value)
          archive_date = value;
        }
        if (key === 'documentDate' & archive_date === "") {
          console.log(value)
          archive_date = value;
        }
      }

      if (archive_date !== '' & documentURL !== '' ) {
        tmp_date = archive_date.replaceAll("-","");
        archive_url = "https://web.archive.org/web/" + tmp_date + "/" + documentURL;
        archive_list = "https://web.archive.org/web/" + tmp_date + "*/" + documentURL;
        text = text + "<b>archive.org URL (experimental)</b>: <a href='" + archive_url + "' target='_blank'>" + archive_url + "</a></br>";
        text = text + "<b>archive.org List URL (experimental)</b>: <a href='" + archive_list + "' target='_blank'>" + archive_list + "</a></br>";
      }
      text = text + "</br>";


      return text;
    }


  </script>

</body>

</html>
