
<html>
<head>

{% include 'main/styling.html' %}
{% load rest_framework %}

<style>

#container {
  display: flex;
  width: 90%;
  height: 600px;
  flex-direction: row;
}

#topic_network {
  flex: 0 0 80%;
}

#popup_event {
  flex: 1;
}

</style>

</head>
<body>

<h1>Topic Detail</h1>
<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

<p><b>Showing graph for:</b> {{ source_node }}</p>

{% if too_many_nodes is True %}
  <p>Graph size exceeds limits for unauthenticated users. Please <a href="mailto:info-syracuse@1145.am?subject=Want%20to%20see%20more%20Syracuse%20data&body=Dear%20Info%0D%0AI%20would%20like%20to%20discuss%20accessing%20{{ source_node }}">contact us</a> for a registered account.</p>
{% endif %}

<p>Back to <a href="/">Home page</a></p>

<div id="container">
  <div id="topic_network"></div>
  <div id="popup_event">
  Click a node to see more details
  </div>
</div>


<script type="text/javascript">

var nodes = new vis.DataSet([
  {% for node_dict in node_data %}
    { id: "{{ node_dict.id }}", label: "{{ node_dict.label }}", color: "{{ node_dict.color }}", shape: "{{ node_dict.shape }}", title: "{{ node_dict.title }}" },
  {% endfor %}
]);

var edges = new vis.DataSet([
  {% for edge_dict in edge_data %}
    { from: "{{ edge_dict.from }}", to: "{{ edge_dict.to }}", arrows: "{{ edge_dict.arrows }}", chosen: false, length: 180, label: "{{ edge_dict.label }}", color: { color: "{{ edge_dict.color }}" },},
  {% endfor %}
]);

var container = document.getElementById("topic_network");
var data = {
  nodes: nodes,
  edges: edges
};
var options = {
  edges: {
    font: {
      size: 12,
    },
    widthConstraint: {
      maximum: 200,
    },
  },
  nodes: {
    shape: "box",
    margin: 10,
    widthConstraint: {
      maximum: 200,
    },
  },
};

var network = new vis.Network(container, data, options);

const node_details_dict = {{ node_details | safe }} ;

function showNodeDetails(node_uri) {
	node_vals = Object.entries(node_details_dict[node_uri]);
  entityType = '';
  text = "<p>"
  for (const [key, value] of node_vals) {
    if (key.endsWith("URL")) {
      text = text + "<b>" + key + "</b>: <a href='" + value + "' target='_blank'>" + value + "</a></br>"
    } else {
      text = text + "<b>" + key + "</b>: " + value + "</br>"
    }
    text = text + "</p>"

    if (key == 'entityType') {
      entityType = value
    }
  }

  if (entityType == 'Organization') {
    path = node_uri.replace("https://","")
    path = path.replace("http://","")
    text = text + "<p><a href='/organization/uri/" + path + "'>New Graph centered on this organization</a></p>"

  }

	return text
}

network.on("showPopup", function(node) {
  document.getElementById('popup_event').innerHTML = '<h4>Node details</h4>' + showNodeDetails(node);
});

</script>

</body>
</html>
