<html>
<head>

{% include 'layouts/main-styling.html' %}
{% load rest_framework %}
{% load l10n %}
{% load topics_extras %}

<title>Syracuse - Company News</title>

<style>

  table, th, td, .small-text {
    font-size: 12px;
    padding: 2px;
  }
</style>
</head>
<body>
  {% include 'layouts/nav-header.html' %}

  <h1>Stats</h1>

  {% if request_state.cache_last_updated %}

    <p >Showing updates as at {{ max_date | localize }}</p>

    <h2>Updates by Country/Region</h2>
    <p>
    <table>
      <tr>
        <th>&nbsp;</th>
        <th>Name</th>
        <th>ISO Code</th>
        <th>7 days</th>
        <th>30 days</th>
        <th>90 days</th>
      </tr>
      {% for recent in recents_by_geo %}
        <tr>
          <td>{{ recent.flag }}</td>
          <td><a href="{% url 'tracked-geo-activities' %}?geo_code={{ recent.geo_code }}&{{ request_state.qs_params|dict_to_query_string }}">{{ recent.geo_name }}</a></td>
          <td>{{ recent.geo_code }}</td>
          <td align="right">{{ recent.count7 | localize }}</td>
          <td align="right">{{ recent.count30 | localize }}</td>
          <td align="right">{{ recent.count90 | localize }}</td>
        </tr>
      {% endfor %}
    </table>
    </p>


      <p><em><div class="small-text">Geo locations are provided by <a href="https://www.geonames.org/">Geonames</a>. Geonames uses ISO-3166 codes for countries
      and a mixture of ISO codes and FIPS codes for states / provinces.
      <br/>
      Some incoming data can be associated with a country but not to a specific state or province in that country.
        So the total number of documents by country can be higher than the sum of documents by state or province.</div></em></p>

    <h2>Updates by Source</h2>
    <p>
    <table>
      <tr>
        <th>Source Name</th>
        <th>7 days</th>
        <th>30 days</th>
        <th>90 days</th>
      </tr>
      {% for recent in recents_by_source %}
        <tr>
          <td><a href="{% url 'tracked-source-activities' %}?source_name={{ recent.source_name }}&{{ request_state.qs_params|dict_to_query_string }}">{{ recent.source_name }}</a></td>
          <td align="right">{{ recent.count7 | localize }}</td>
          <td align="right">{{ recent.count30 | localize }}</td>
          <td align="right">{{ recent.count90 | localize }}</td>
        </tr>
      {% endfor %}
    </table>
    </p>
    <p><em><div class="small-text">Showing max {{ sources_cnt }} sources.</div></em></p>


    <h2>Updates by Industry</h2>
    <p>
    <table>
      <tr>
        <th>Industry Name</th>
        <th>7 days</th>
        <th>30 days</th>
        <th>90 days</th>
      </tr>
      {% for recent in recents_by_industry %}
        <tr>
          <td><a href="{% url 'industry-activities' %}?industry_id={{ recent.industry_id }}&{{ request_state.qs_params|dict_to_query_string }}">{{ recent.industry_name }}</a></td>
          <td align="right">{{ recent.count7 | localize }}</td>
          <td align="right">{{ recent.count30 | localize }}</td>
          <td align="right">{{ recent.count90 | localize }}</td>
        </tr>
      {% endfor %}
    </table>
    </p>  

    <br/>
    <h2>All-Time Node Counts</h2>
    <p>
      <table>
        {% for count in counts %}
        <tr>
            <td>{{ count.node_type }}</td>
            <td align="right">{{ count.count | localize }}</td>
        </tr>
        {% endfor %}
      </table>
    </p>

    <p><em><div class="small-text">These numbers refer to nodes. If a topic has 2 investors and one target then this topic will have 4 nodes:
      One for each for the investors, one for the target and one CorporateFinanceActivity node to represent the investment.</div></em></p>

  {% else %}
  <br/>
  {% endif %}
  {% include 'layouts/footer.html' %}

</body>
</html>
