{% load trackeditems_extras %}
{% load l10n %}

<p>Click on a document title to see the original source.
  Click on the name of a participant to see more organization linkages and timelines.</p>

{% for row in activities %}
  <p>
    <b>Document Date: </b>{{ row.document_date | iso_format_to_date | localize }} / <b>Activity Class: </b>{{ row.activity_class }}
    <br/><a href="{{ row.document_url }}">{{ row.document_title }}</a>
    <br/>
    <b>Type: </b>{{ row.activity_longest_type | title }} /
    <b>Source: </b>{{ row.source_name }}
    {% if row.participants.items|length > 0 %}
      {% for participant_role,participant_list in row.participants.items %}
        <br/>
        {% if participant_list|length > 0 %}
            <b>{{ participant_role | title}}</b>:
            {% for entity in participant_list %}
              <a href="{{ entity.uri }}">{{ entity.longest_name }}</a>
            {% endfor %}
        {% endif %}
      {% endfor %}
    {% endif %}

    <br/>{{ row.document_extract }}
  </p>
{% endfor %}
