<html>
<head>

{% include 'layouts/main-styling.html' %}
{% load rest_framework %}
<title>Syracuse (Company News)</title>
</head>
<body>

    {% include 'layouts/nav-header.html' %}

    <h1>Tracked Organizations and Industry / Region combos</h1>
    <p>We are tracking the following organization and combos of industry / region for you and will send an email when we spot
    any changes.
    </p>
    {% include 'tracked_item_snippet.html' %}
    {% include 'layouts/footer.html' %}

</body>
</html>
