
<html>
<head>

{% include 'layouts/main-styling.html' %}
{% load rest_framework %}
{% load l10n %}

<title>Syracuse - Company News</title>
</head>
<body>
  <p>
    {% include 'layouts/nav-header.html' %}
  </p>
  <h1>Recent Activities</h1>

  {% if request_state.cache_last_updated %}
    <p>Activities between {{ min_date |  localize }} and  {{ max_date | localize }}
      
    {% if source_name.org_name %}
      for <b>{{ source_name.org_name }}</b>.
    {% elif source_name.source_organization %}
      from <b>{{ source_name.source_organization }}</b>.
    {% else %}  
      {{ source_name.from_str }}  <b>{{ source_name.industry_str }}</b> {{ source_name.in_str }} <b>{{ source_name.region_str }}</b>.
    {% endif %}

    </p>

    {% include 'activity_list.html' %}
  {% else %}
  <br/>
  {% endif %}

  {% include 'layouts/footer.html' %}

</body>
</html>
