
<html>
<head>

{% include 'layouts/main-styling.html' %}
{% load rest_framework %}
{% load l10n %}

<title>Syracuse - Recent Activities</title>
</head>
<body>
  <h1>Recent Activities</h1>
  <p>
    {% include 'layouts/nav-header.html' %}
  </p>
  <p>Activities between {{ min_date |  localize }} and  {{ max_date | localize }}
  {% if geo_name is not None %}
    in {{ geo_name }}.
  {% elif source_name is not None %}
    from {{ source_name }}.
  {% endif %}
  </p>

  {% include 'activity_list.html' %}

  {% include 'layouts/footer.html' %}

</body>
</html>
