
<html>
<head>

{% include 'layouts/main-styling.html' %}
{% load rest_framework %}
{% load l10n %}
{% load trackeditems_extras %}

<title>Syracuse - Recent Activities</title>
</head>
<body>
  <h1>Recent Activities</h1>
  {% include 'layouts/login-in-app.html' %}
  <p>
    Activities between {{ min_date |  localize }} and  {{ max_date | localize }}:
  </p>

  {% for row in activities %}
  <p>
    <b>Document Date: </b>{{ row.document_date | iso_format_to_date | localize }} / <b>Organization:</b> <a href="{{ row.organization_uri }}">{{row.organization_longest_name }}</a> /
    <b>Activity Class: </b>{{ row.activity_class }} /
    <br/><a href="{{ row.document_url }}">{{ row.document_title }}</a></b>
    <br/>
    <b>Type: </b>{{ row.activity_longest_type }} /
    <b>Status (at time of doc date): </b> {{ row.activity_status_as_string }} /
    <b>Source: </b>{{ row.source_name }}
    <br/>{{ row.document_extract }}
  </p>
  {% endfor %}

  {% include 'layouts/footer.html' %}

</body>
</html>
