
<html>
<head>

{% include 'layouts/main-styling.html' %}
{% load rest_framework %}
<title>Syracuse - Company News</title>
</head>
<body>
    </p>

    <h1>Feedback submitted</h1>
    <p>
    {% if errors %}
      Feedback could not be saved because of the following issues: <br/>
      {% for field, error in errors.items %}
        <strong>Field:</strong> {{ field }} <br/>
        <strong>Error:</strong> {{ error }} <br/>
      {% endfor %}
    {% else %}
      {% for k,v in feedback.items %}
        <strong>{{ k }}:</strong> {{ v }}<br/>
      {% endfor %}
    {% endif %}
    </p>

    <a href="{{ source_page }}">Back to previous page</a>

</body>
</html>
